AUTH_SECRET="openssl:random:hex:32"
GOOGLE_ADMIN_SCOPES="openid email profile https://www.googleapis.com/auth/admin.directory.user https://www.googleapis.com/auth/admin.directory.orgunit https://www.googleapis.com/auth/admin.directory.domain https://www.googleapis.com/auth/admin.directory.rolemanagement https://www.googleapis.com/auth/cloud-identity.inboundsso"
GOOGLE_API_BASE="https://admin.googleapis.com"
GOOGLE_CLIENT_ID="xx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-xx"
GOOGLE_IDENTITY_BASE="https://cloudidentity.googleapis.com"
GRAPH_API_BASE="https://graph.microsoft.com/v1.0"
MICROSOFT_CLIENT_ID="00000000-0000-0000-0000-000000000000"
MICROSOFT_CLIENT_SECRET="abcd~defghijklmnopqrstuvwxyz1234567890"
MICROSOFT_GRAPH_SCOPES="openid profile email offline_access User.Read Directory.Read.All Application.ReadWrite.All AppRoleAssignment.ReadWrite.All Synchronization.ReadWrite.All"
MICROSOFT_TENANT_ID="12345678-1234-1234-1234-123456789012"
